$custGrey: #888;
$cellSize: 10rem;

body {
	background-color: #aff;
	display: flex;
	justify-content: center;
	height: 100vh;
	margin: 0;
}

#app {
	align-self: center;
}

.grid {
	position: relative;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.empty-cell {
	display: inline-block;
	width: $cellSize;
	height: $cellSize;
	border-radius: $cellSize/5;
	opacity: .75;
	background-color:$custGrey;
	box-shadow: 2px 2px 0 $custGrey;
	transition: all .2s;
	cursor: pointer;
}

.player1 {
	@extend .empty-cell;
	background-color: white;
	cursor: default;
}
.player2 {
	@extend .empty-cell;
	background-color: black;
	cursor: default;
}

.announcement {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	position: absolute;
	top: calc(50% - #{$cellSize});
	bottom: calc(50% - #{$cellSize});
	left: calc(50% - #{$cellSize});
	right: calc(50% - #{$cellSize});
	border-radius: $cellSize;
	background-color: rgba(136, 136 , 136,.8);
	text-align: center;
	font-size: 2em;
	color: white;
	width: $cellSize*2;
	height: $cellSize*2;

	button {
		height: $cellSize/2;
		width: $cellSize;
		font-size: .5em;
		font-weight: 700;
		border: none;
		border-radius: $cellSize/10;
		background-color: white;
		color: black;
	}

}