body {
  background-color: #aff;
  display: flex;
  justify-content: center;
  height: 100vh;
  margin: 0; }

#app {
  align-self: center; }

.grid {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center; }

.empty-cell, .player1, .player2 {
  display: inline-block;
  width: 10rem;
  height: 10rem;
  border-radius: 2rem;
  opacity: .75;
  background-color: #888;
  box-shadow: 2px 2px 0 #888;
  transition: all .2s;
  cursor: pointer; }

.player1 {
  background-color: white;
  cursor: default; }

.player2 {
  background-color: black;
  cursor: default; }

.announcement {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: calc(50% - 10rem);
  bottom: calc(50% - 10rem);
  left: calc(50% - 10rem);
  right: calc(50% - 10rem);
  border-radius: 10rem;
  background-color: rgba(136, 136, 136, 0.8);
  text-align: center;
  font-size: 2em;
  color: white;
  width: 20rem;
  height: 20rem; }
  .announcement button {
    height: 5rem;
    width: 10rem;
    font-size: .5em;
    font-weight: 700;
    border: none;
    border-radius: 1rem;
    background-color: white;
    color: black; }
